
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<div class="container">
    <h2>Votre score est de: @Session["score"]  sur @Session["Nbre_Qst"] questions</h2>
</div>

<div class="center" style=" margin:10%">
    <p>Souhaitez vous envoyer votre resultat sur votre mail</p>
     <input  type="button" value="Send" name="mail"/>
</div>

